In [1]:
import os
import time
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [2]:
root_path = os.path.abspath(".")
op_dir_name = "新股网下数据周报"
op_file_name = "新股网下申购配售统计"
op_file_type = ".xlsx"
sh_tail = 1
sz_tail = 2

In [3]:
dir_list = os.listdir(root_path)

In [4]:
data_list = [item for item in os.listdir(root_path) if op_dir_name in item]
data_list

['新股网下数据周报20201105', '新股网下数据周报20201106']

In [5]:
file_date = data_list[-1].split(op_dir_name)[-1]
op_date = time.strftime('%Y%m%d',time.localtime(time.time()))

In [6]:
if file_date <= op_date:
    file_path = os.path.join(root_path, op_dir_name + file_date, op_file_name + file_date + op_file_type)
    print("Deal with the {} data, path is: {}".format(file_date, file_path))

Deal with the 20201106 data, path is: E:\ns_data_w\新股网下数据周报20201106\新股网下申购配售统计20201106.xlsx

In [7]:
df = pd.read_excel(file_path, header=[2, 3], sheet_name=["上海", "深圳"])
df_sz = df["深圳"].tail(sz_tail)
df_sz

                   申购日                 代码                 名称  \
    Unnamed: 0_level_1 Unnamed: 1_level_1 Unnamed: 2_level_1
177           20201028               3018               金富科技
178           20201103               3019               宸展光电

                   发行价               个人金额               产品金额  \
    Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
177               8.93            3009.41            3009.41
178              23.58            5093.28            5093.28

                    备注 个人——获配数量（股）            ...     飞龙            东风         \
    Unnamed: 6_level_1         熊模昌  蔡健敏  杨鹏威  ...    16号    20号    11号    15号
177                NaN         337  337  337  ...  337.0  337.0    0.0  337.0
178                NaN         216  216  216  ...  216.0  216.0  216.0  216.0

                             嘉泰     征东     高升
       17号    18号    19号     1号     2号     1号
177  337.0  337.0  337.0  337.0    0.0  337.0
178  216.0  216.0  216.0  216.0  216.0    0.0

[2 rows x 149 columns]

In [8]:
col_name = [item[0] for item in df_sz.keys()]
col_name

['申购日',
 '代码',
 '名称',
 '发行价',
 '个人金额',
 '产品金额',
 '备注',
 '个人——获配数量（股）',
 '个人——获配数量（股）',
 '个人——获配数量（股）',
 '个人——获配数量（股）',
 '个人——获配数量（股）',
 '个人——获配数量（股）',
 '个人——获配数量（股）',
 '个人——获配数量（股）',
 '明湾',
 '明湾',
 '金伙伴',
 '民盛系列',
 '民盛系列',
 '潜龙系列',
 '潜龙系列',
 '潜龙系列',
 '潜龙系列',
 '起航',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '聚宝',
 '和谐',
 '翡玉',
 '翡玉',
 '翡玉',
 '翡玉',
 '翡玉',
 '翡玉',
 '翡玉',
 '翡玉',
 '翡玉',
 '绿洲',
 '绿洲',
 '绿洲',
 '匠心',
 '匠心',
 '高升',
 '高升',
 '高升',
 '高升',
 '高升',
 '高升',
 '兴盛',
 '安飞',
 '安飞',
 '福临',
 '福临',
 '福临',
 '合力',
 '冠通',
 '冠通',
 '麦余',
 '麦余',
 '潜龙',
 '潜龙',
 '剑乔',
 '聚财',
 '聚财',
 '聚宝',
 '和谐',
 '和谐',
 '和谐',
 '和谐',
 '和谐',
 '汇金',
 '汇金',
 '汇金',
 '日新',
 '日新',
 '日新',
 '日新',
 '日新',
 '日新',
 '日新',
 '东风',
 '东风',
 '东风',
 '东风',
 '东风',
 '东风',
 '东风',
 '巡洋',
 '巡洋',
 '巡洋',
 '巡洋',
 '麟',
 '泉',
 '起航',
 '起航',
 '起航',
 '起航',
 '起航',
 '起航',
 '通怡',
 '聚宝',
 '聚宝',
 '聚宝',
 '聚宝',
 '绿洲',
 '绿洲',
 '合力',
 '月异',
 '月异',
 '月异',
 '月异',
 '月异',
 '泰顺',
 '泰顺',
 '泰顺',
 '飞龙',
 '飞龙',
 '飞龙',
 '飞龙',
 '飞龙',
 '飞龙',
 '飞龙',
 '飞龙',
 '飞龙',
 '东风',
 '东风',
 '东风',
 '东风',
 '东风',
 '嘉泰',
 '征东',
 '高升']

In [9]:
del_list = [
    '申购日',
    '发行价',
    '个人金额',
    '产品金额',
    '备注',
    '个人——获配数量（股）',
    '个人——获配数量（股）',
    '个人——获配数量（股）',
    '个人——获配数量（股）',
    '个人——获配数量（股）',
    '个人——获配数量（股）',
    '个人——获配数量（股）',
    '个人——获配数量（股）',
    '明湾',
    '明湾',
    '金伙伴',
    '民盛系列',
    '民盛系列',
    '潜龙系列',
    '潜龙系列',
    '潜龙系列',
    '潜龙系列',
]

In [10]:
drop_list = list(set(del_list))

In [11]:
info_list = ['代码', '名称']

In [12]:
df_sz_new = df_sz.drop(drop_list, axis=1)

In [13]:
df_sz_new

                    代码                 名称     起航   龙凤呈祥                       \
    Unnamed: 1_level_1 Unnamed: 2_level_1     1号     1号     2号     3号     8号
177               3018               金富科技  337.0  337.0  337.0  337.0  337.0
178               3019               宸展光电  216.0  216.0  216.0  216.0  216.0

                          ...     飞龙            东风                       \
       11号    12号    13号  ...    16号    20号    11号    15号    17号    18号
177  337.0  337.0  337.0  ...  337.0  337.0    0.0  337.0  337.0  337.0
178  216.0  216.0  216.0  ...  216.0  216.0  216.0  216.0  216.0  216.0

               嘉泰     征东     高升
       19号     1号     2号     1号
177  337.0  337.0    0.0  337.0
178  216.0  216.0  216.0    0.0

[2 rows x 127 columns]

In [14]:
temp_keys = df_sz_new.keys()
temp_keys

MultiIndex([(  '代码', 'Unnamed: 1_level_1'),
            (  '名称', 'Unnamed: 2_level_1'),
            (  '起航',                 '1号'),
            ('龙凤呈祥',                 '1号'),
            ('龙凤呈祥',                 '2号'),
            ('龙凤呈祥',                 '3号'),
            ('龙凤呈祥',                 '8号'),
            ('龙凤呈祥',                '11号'),
            ('龙凤呈祥',                '12号'),
            ('龙凤呈祥',                '13号'),
            ...
            (  '飞龙',                '16号'),
            (  '飞龙',                '20号'),
            (  '东风',                '11号'),
            (  '东风',                '15号'),
            (  '东风',                '17号'),
            (  '东风',                '18号'),
            (  '东风',                '19号'),
            (  '嘉泰',                 '1号'),
            (  '征东',                 '2号'),
            (  '高升',                 '1号')],
           length=127)

In [15]:
product_list = list()
value_list = list()
for item in temp_keys:
    value_list.append(df_sz_new[item].tolist())
    if 'Unnamed:' not in item[1]:
        product_list.append(''.join(item).replace('龙凤呈祥', '龙凤'))
    else:
        product_list.append(item[0])
    len(product_list)

# product_list = list(set(product_list) - set(info_list))

In [16]:
ns_sz = dict()
for key, value in zip(product_list, value_list):
    ns_sz[key] = value
    
ns_sz

{'代码': [3018, 3019],
 '名称': ['金富科技', '宸展光电'],
 '起航1号': [337.0, 216.0],
 '龙凤1号': [337.0, 216.0],
 '龙凤2号': [337.0, 216.0],
 '龙凤3号': [337.0, 216.0],
 '龙凤8号': [337.0, 216.0],
 '龙凤11号': [337.0, 216.0],
 '龙凤12号': [337.0, 216.0],
 '龙凤13号': [337.0, 216.0],
 '龙凤14号': [337.0, 216.0],
 '龙凤15号': [337.0, 216.0],
 '龙凤16号': [337.0, 216.0],
 '龙凤17号': [337.0, 216.0],
 '龙凤18号': [337.0, 216.0],
 '龙凤19号': [337.0, 216.0],
 '龙凤24号': [337.0, 216.0],
 '龙凤25号': [337.0, 216.0],
 '龙凤26号': [337, 216],
 '龙凤29号': [337.0, 216.0],
 '龙凤30号': [337.0, 216.0],
 '聚宝2号': [337.0, 216.0],
 '和谐2号': [337.0, 216.0],
 '翡玉1号': [337.0, 216.0],
 '翡玉2号': [337.0, 216.0],
 '翡玉3号': [337.0, 216.0],
 '翡玉4号': [337.0, 216.0],
 '翡玉5号': [337.0, 216.0],
 '翡玉6号': [337.0, 216.0],
 '翡玉7号': [337.0, 216.0],
 '翡玉8号': [337.0, 216.0],
 '翡玉9号': [337.0, 216.0],
 '绿洲1号': [337.0, 216.0],
 '绿洲4号': [337.0, 216.0],
 '绿洲5号': [337.0, 216.0],
 '匠心2号': [337.0, 216.0],
 '匠心3号': [337.0, 216.0],
 '高升2号': [337.0, 216.0],
 '高升3号': [337.0, 216.0],
 '高升5号': [337.0, 216.0],
 '高升6号': [337.0, 216.0],
 '高升7号': [337.0, 216.0],
 '高升8号': [337.0, 216.0],
 '兴盛1号': [337.0, 216.0],
 '安飞3号': [337.0, 216.0],
 '安飞5号': [337.0, 216.0],
 '福临7号': [337.0, 216.0],
 '福临9号': [337.0, 216.0],
 '福临10号': [337.0, 216.0],
 '合力3号': [337.0, 216.0],
 '冠通3号': [337.0, 216.0],
 '冠通9号': [337.0, 216.0],
 '麦余1号': [337.0, 216.0],
 '麦余2号': [337.0, 216.0],
 '潜龙5号': [337.0, 216.0],
 '潜龙14号': [337.0, 216.0],
 '剑乔': [337.0, 216.0],
 '聚财1号': [337.0, 216.0],
 '聚财2号': [337.0, 216.0],
 '聚宝8号': [337.0, 216.0],
 '和谐3号': [337.0, 216.0],
 '和谐4号': [337.0, 216.0],
 '和谐6号': [337.0, 216.0],
 '和谐8号': [337.0, 216.0],
 '和谐11号': [337.0, 216.0],
 '汇金1号': [337.0, 216.0],
 '汇金2号': [337.0, 216.0],
 '汇金3号': [337.0, 216.0],
 '日新1号': [337.0, 216.0],
 '日新4号': [337.0, 216.0],
 '日新6号': [337.0, 216.0],
 '日新11号': [337.0, 216.0],
 '日新12号': [337.0, 216.0],
 '日新13号': [337.0, 216.0],
 '日新15号': [337.0, 216.0],
 '东风1号': [337.0, 216.0],
 '东风2号': [0.0, 0.0],
 '东风3号': [337.0, 216.0],
 '东风4号': [337.0, 216.0],
 '东风5号': [337.0, 216.0],
 '东风7号': [337.0, 216.0],
 '东风10号': [337.0, 216.0],
 '巡洋1号': [337.0, 216.0],
 '巡洋2号': [337.0, 216.0],
 '巡洋8号': [0.0, 216.0],
 '巡洋9号': [337.0, 216.0],
 '麟1号': [337.0, 216.0],
 '泉1号': [337.0, 216.0],
 '起航2号': [337.0, 216.0],
 '起航5号': [nan, nan],
 '起航6号': [nan, nan],
 '起航9号': [nan, nan],
 '起航14号': [337.0, 216.0],
 '起航15号': [337.0, 216.0],
 '通怡1号': [nan, nan],
 '聚宝3号': [337.0, 216.0],
 '聚宝4号': [337.0, 216.0],
 '聚宝6号': [0.0, 216.0],
 '聚宝7号': [337.0, 216.0],
 '绿洲9号': [337.0, 216.0],
 '绿洲10号': [337.0, 216.0],
 '合力9号': [0.0, 216.0],
 '月异3号': [337.0, 0.0],
 '月异5号': [337.0, 216.0],
 '月异7号': [337.0, 216.0],
 '月异8号': [337.0, 216.0],
 '月异12号': [337.0, 216.0],
 '泰顺1号': [337.0, 216.0],
 '泰顺5号': [337.0, 216.0],
 '泰顺7号': [337.0, 216.0],
 '飞龙5号': [337.0, 216.0],
 '飞龙7号': [337.0, 216.0],
 '飞龙8号': [337.0, 216.0],
 '飞龙9号': [337.0, 216.0],
 '飞龙10号': [337.0, 216.0],
 '飞龙11号': [337.0, 216.0],
 '飞龙12号': [337.0, 216.0],
 '飞龙16号': [337.0, 216.0],
 '飞龙20号': [337.0, 216.0],
 '东风11号': [0.0, 216.0],
 '东风15号': [337.0, 216.0],
 '东风17号': [337.0, 216.0],
 '东风18号': [337.0, 216.0],
 '东风19号': [337.0, 216.0],
 '嘉泰1号': [337.0, 216.0],
 '征东2号': [0.0, 216.0],
 '高升1号': [337.0, 0.0]}

In [17]:
pb_list = pd.read_excel("pb_list.xlsx", header=None, index_col=None)[0].tolist()

In [18]:
pb_list

['和谐1号',
 '和谐2号',
 '聚宝1号',
 '聚宝2号',
 '龙凤1号',
 '龙凤2号',
 '龙凤3号',
 '龙凤16号',
 '龙凤17号',
 '龙凤18号',
 '龙凤19号',
 '龙凤20号',
 '潜龙5号',
 '潜龙6号',
 '潜龙8号',
 '翡玉1号',
 '翡玉2号',
 '翡玉3号',
 '翡玉4号',
 '巡洋1号',
 '麦余1号',
 '麦余2号',
 '冠通9号',
 '冠通10号',
 '东风2号',
 '东风3号',
 '剑乔',
 '翡玉7号',
 '东风7号',
 '东风10号',
 '东风1号',
 '起航1号',
 '汇金2号',
 '泰顺1号',
 '泰顺2号',
 '泰顺3号',
 '长阳1号',
 '泰顺5号',
 '泰顺7号',
 '龙凤6号',
 '龙凤7号',
 '龙凤9号',
 '龙凤10号',
 '龙凤11号',
 '龙凤12号',
 '龙凤14号',
 '起航8号',
 '巡洋8号',
 '安飞5号',
 '潜龙22号',
 '起航14号',
 '龙凤13号',
 '龙凤15号',
 '月异5号',
 '月异7号',
 '月异8号',
 '月异10号',
 '巡洋5号',
 '龙凤21号',
 '龙凤22号',
 '龙凤23号',
 '龙凤25号',
 '龙凤26号',
 '龙凤27号',
 '龙凤28号',
 '龙凤29号',
 '龙凤30号',
 '冠通1号',
 '冠通2号',
 '冠通3号',
 '冠通4号',
 '钱塘1号',
 '钱塘2号',
 '合力4号',
 '合力5号',
 '绿洲1号',
 '翡玉6号',
 '翡玉8号',
 '翡玉9号',
 '征东1号',
 '绿洲8号',
 '绿洲9号',
 '飞龙2号',
 '飞龙5号',
 '飞龙6号',
 '嘉泰1号',
 '翡玉5号',
 '泉1号',
 '麟1号',
 '东风8号',
 '巡洋2号',
 '匠心2号',
 '匠心3号',
 '绿洲10号',
 '文龙',
 '汇金1号',
 '高升3号',
 '高升2号',
 '高升5号',
 '高升6号',
 '高升7号',
 '高升8号',
 '兴盛1号',
 '绿洲3号',
 '绿洲4号',
 '绿洲5号',
 '巡洋3号',
 '潜龙10号',
 '起航15号',
 '合力1号',
 '合力2号',
 '合力3号',
 '龙凤8号']

In [19]:
for item in pb_list:
    if item in ns_sz.keys():
        ns_sz.pop(item)

In [20]:
ns_sz

{'代码': [3018, 3019],
 '名称': ['金富科技', '宸展光电'],
 '龙凤24号': [337.0, 216.0],
 '安飞3号': [337.0, 216.0],
 '福临7号': [337.0, 216.0],
 '福临9号': [337.0, 216.0],
 '福临10号': [337.0, 216.0],
 '潜龙14号': [337.0, 216.0],
 '聚财1号': [337.0, 216.0],
 '聚财2号': [337.0, 216.0],
 '聚宝8号': [337.0, 216.0],
 '和谐3号': [337.0, 216.0],
 '和谐4号': [337.0, 216.0],
 '和谐6号': [337.0, 216.0],
 '和谐8号': [337.0, 216.0],
 '和谐11号': [337.0, 216.0],
 '汇金3号': [337.0, 216.0],
 '日新1号': [337.0, 216.0],
 '日新4号': [337.0, 216.0],
 '日新6号': [337.0, 216.0],
 '日新11号': [337.0, 216.0],
 '日新12号': [337.0, 216.0],
 '日新13号': [337.0, 216.0],
 '日新15号': [337.0, 216.0],
 '东风4号': [337.0, 216.0],
 '东风5号': [337.0, 216.0],
 '巡洋9号': [337.0, 216.0],
 '起航2号': [337.0, 216.0],
 '起航5号': [nan, nan],
 '起航6号': [nan, nan],
 '起航9号': [nan, nan],
 '通怡1号': [nan, nan],
 '聚宝3号': [337.0, 216.0],
 '聚宝4号': [337.0, 216.0],
 '聚宝6号': [0.0, 216.0],
 '聚宝7号': [337.0, 216.0],
 '合力9号': [0.0, 216.0],
 '月异3号': [337.0, 0.0],
 '月异12号': [337.0, 216.0],
 '飞龙7号': [337.0, 216.0],
 '飞龙8号': [337.0, 216.0],
 '飞龙9号': [337.0, 216.0],
 '飞龙10号': [337.0, 216.0],
 '飞龙11号': [337.0, 216.0],
 '飞龙12号': [337.0, 216.0],
 '飞龙16号': [337.0, 216.0],
 '飞龙20号': [337.0, 216.0],
 '东风11号': [0.0, 216.0],
 '东风15号': [337.0, 216.0],
 '东风17号': [337.0, 216.0],
 '东风18号': [337.0, 216.0],
 '东风19号': [337.0, 216.0],
 '征东2号': [0.0, 216.0],
 '高升1号': [337.0, 0.0]}

In [21]:
zzz = pd.read_excel("zzz.xlsx", header=0, index_col="账户")

In [22]:
zzz

                 账号  券商
账户
和谐1号       28072203  国君
和谐2号       28072206  国君
聚宝1号       28072217  国君
聚宝2号       28072200  国君
龙凤1号       28060380  国君
...             ...  ..
和谐4号       28087633  国君
月异12号  201600070296  银河
高升1号       56770528  建投
福临7号      280042923  兴业
福临10号     280042938  兴业

[167 rows x 2 columns]

In [23]:
zzz.loc["和谐1号"]

账号    28072203
券商          国君
Name: 和谐1号, dtype: object

In [24]:
ns_col = ["序号", "账户", "账号", "券商", "交易员"]
ns_col_sz = ns_col.copy()

for name, idx in zip(ns_sz["名称"], ns_sz["代码"]):
    ns_col_sz.append(name + str(idx).rjust(6, '0'))

ns_col_sz

['序号', '账户', '账号', '券商', '交易员', '金富科技003018', '宸展光电003019']

In [25]:
ns_op_sz = pd.DataFrame(columns=ns_col_sz)

In [26]:
ns_op_sz

Empty DataFrame
Columns: [序号, 账户, 账号, 券商, 交易员, 金富科技003018, 宸展光电003019]
Index: []

In [27]:
for item in info_list:
    if item in ns_sz.keys():
        ns_sz.pop(item)

In [28]:
idx = 0

for key, value in ns_sz.items():
    idx += 1

    if key in zzz.index:
        zh_item = str(zzz.loc[key][ns_col_sz[2]])
        qs_item = zzz.loc[key][ns_col_sz[3]]
    else:
        zh_item = ""
        qs_item = ""

    item = {
        ns_col_sz[0]: idx,
        ns_col_sz[1]: key,
        ns_col_sz[2]: zh_item,
        ns_col_sz[3]: qs_item,
        ns_col_sz[4]: "operator"
    }

    for v_idx in range(len(value)):
        item[ns_col_sz[5 + v_idx]] = value[v_idx]
    
    ns_op_sz = ns_op_sz.append(item, ignore_index=True)
    
ns_op_sz

    序号     账户            账号  券商       交易员  金富科技003018  宸展光电003019
0    1  龙凤24号    1676082613  申万  operator       337.0       216.0
1    2   安飞3号    2860000976  兴业  operator       337.0       216.0
2    3   福临7号     280042923  兴业  operator       337.0       216.0
3    4   福临9号     280042766  兴业  operator       337.0       216.0
4    5  福临10号     280042938  兴业  operator       337.0       216.0
5    6  潜龙14号      76050642  财通  operator       337.0       216.0
6    7   聚财1号      76050660  财通  operator       337.0       216.0
7    8   聚财2号      10912702  国君  operator       337.0       216.0
8    9   聚宝8号      28087635  国君  operator       337.0       216.0
9   10   和谐3号      28087631  国君  operator       337.0       216.0
10  11   和谐4号      28087633  国君  operator       337.0       216.0
11  12   和谐6号      28087632  国君  operator       337.0       216.0
12  13   和谐8号      28087781  国君  operator       337.0       216.0
13  14  和谐11号      20180027  国君  operator       337.0       216.0
14  15   汇金3号   97800000565  中信  operator       337.0       216.0
15  16   日新1号     610001889  湘财  operator       337.0       216.0
16  17   日新4号  801900869420  申万  operator       337.0       216.0
17  18   日新6号  920000229898  安信  operator       337.0       216.0
18  19  日新11号      28092350  国君  operator       337.0       216.0
19  20  日新12号      28092351  国君  operator       337.0       216.0
20  21  日新13号      28092352  国君  operator       337.0       216.0
21  22  日新15号      10276212  国君  operator       337.0       216.0
22  23   东风4号      28085107  国君  operator       337.0       216.0
23  24   东风5号      28085155  国君  operator       337.0       216.0
24  25   巡洋9号  904500006222  安信  operator       337.0       216.0
25  26   起航2号     830173888  招商  operator       337.0       216.0
26  27   起航5号                    operator         NaN         NaN
27  28   起航6号                    operator         NaN         NaN
28  29   起航9号                    operator         NaN         NaN
29  30   通怡1号                    operator         NaN         NaN
30  31   聚宝3号   25100000860  华福  operator       337.0       216.0
31  32   聚宝4号   25100001375  华福  operator       337.0       216.0
32  33   聚宝6号                    operator         0.0       216.0
33  34   聚宝7号    1888035997  招商  operator       337.0       216.0
34  35   合力9号                    operator         0.0       216.0
35  36   月异3号     698198026  招商  operator       337.0         0.0
36  37  月异12号  201600070296  银河  operator       337.0       216.0
37  38   飞龙7号    8009225313  中信  operator       337.0       216.0
38  39   飞龙8号  666810036468  华泰  operator       337.0       216.0
39  40   飞龙9号  666810054822  华泰  operator       337.0       216.0
40  41  飞龙10号  666810037558  华泰  operator       337.0       216.0
41  42  飞龙11号  666810008011  华泰  operator       337.0       216.0
42  43  飞龙12号  666810000156  华泰  operator       337.0       216.0
43  44  飞龙16号  666810055185  华泰  operator       337.0       216.0
44  45  飞龙20号      92102403  财通  operator       337.0       216.0
45  46  东风11号                    operator         0.0       216.0
46  47  东风15号  666810005468  华泰  operator       337.0       216.0
47  48  东风17号  666810056468  华泰  operator       337.0       216.0
48  49  东风18号  666810053468  华泰  operator       337.0       216.0
49  50  东风19号  666810054768  华泰  operator       337.0       216.0
50  51   征东2号                    operator         0.0       216.0
51  52   高升1号      56770528  建投  operator       337.0         0.0

In [29]:
judge = [False] * len(ns_op_sz)
# print(judge)

for idx in range(sz_tail):
#     print(ns_op_sz[ns_col_sz[- 1 - idx]].notna().tolist())
    judge = judge or ns_op_sz[ns_col_sz[- 1 - idx]].notna().tolist()

In [30]:
ns_op_sz.to_excel("新股周报.xlsx", sheet_name="深圳", index=None)

In [31]:
df_sh = df["上海"].tail(sh_tail)
df_sh

                   申购日                 代码                 名称  \
    Unnamed: 0_level_1 Unnamed: 1_level_1 Unnamed: 2_level_1
172           20201028             605007               五洲特纸

                   发行价               个人金额               产品金额  \
    Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
172              10.09            2007.91            2007.91

                    备注   个人          ...   龙凤呈祥                           \
    Unnamed: 6_level_1  柴昭一  薛刚 季海荣  ...    21号    22号    23号 24号    25号
172                NaN  199 NaN NaN  ...  199.0  199.0  199.0 NaN  199.0


       26号    27号    28号    29号    30号
172  199.0  199.0  199.0  199.0  199.0

[1 rows x 196 columns]

In [32]:
col_name = [item[0] for item in df_sh.keys()]
col_name

['申购日',
 '代码',
 '名称',
 '发行价',
 '个人金额',
 '产品金额',
 '备注',
 '个人',
 '个人',
 '个人',
 '个人',
 '个人',
 '个人',
 '个人',
 '个人',
 '涌赢',
 '涌鑫',
 '起航',
 '起航',
 '起航',
 '合力',
 '合力',
 '合力',
 '合力',
 '合力',
 '冠通',
 '冠通',
 '冠通',
 '冠通',
 '冠通',
 '冠通',
 '麦余',
 '麦余',
 '聚宝',
 '聚宝',
 '和谐',
 '和谐',
 '翡玉',
 '翡玉',
 '翡玉',
 '翡玉',
 '翡玉',
 '翡玉',
 '翡玉',
 '翡玉',
 '翡玉',
 '翡玉',
 '绿洲',
 '绿洲',
 '绿洲',
 '绿洲',
 '绿洲',
 '匠心',
 '匠心',
 '高升',
 '高升',
 '高升',
 '高升',
 '高升',
 '高升',
 '兴盛',
 '安枕飞天',
 '安枕飞天',
 '安枕飞天',
 '福临',
 '潜龙',
 '潜龙',
 '潜龙',
 '潜龙',
 '潜龙',
 '潜龙',
 '潜龙',
 '潜龙',
 '潜龙',
 '潜龙',
 '潜龙',
 '剑乔',
 '聚财',
 '聚财',
 '聚财',
 '聚宝',
 '和谐',
 '和谐',
 '和谐',
 '汇金',
 '汇金',
 '日新',
 '日新',
 '日新',
 '日新',
 '日新',
 '日新',
 '日新',
 '日新',
 '日新',
 '日新',
 '东风',
 '东风',
 '东风',
 '东风',
 '东风',
 '东风',
 '东风',
 '麟',
 '泉',
 '钱塘',
 '钱塘',
 '巡洋',
 '巡洋',
 '巡洋',
 '巡洋',
 '巡洋',
 '巡洋',
 '巡洋',
 '巡洋',
 '巡洋',
 '泰顺',
 '泰顺',
 '泰顺',
 '泰顺',
 '泰顺',
 '长阳',
 '飞龙',
 '飞龙',
 '飞龙',
 '飞龙',
 '飞龙',
 '飞龙',
 '飞龙',
 '飞龙',
 '飞龙',
 '飞龙',
 '东风',
 '东风',
 '东风',
 '东风',
 '嘉泰',
 '乾艺',
 '澳浦',
 '高升',
 '文龙',
 '起航',
 '起航',
 '起航',
 '起航',
 '起航',
 '征东',
 '聚宝',
 '聚宝',
 '聚宝',
 '汇金',
 '汇金',
 '绿洲',
 '绿洲',
 '绿洲',
 '绿洲',
 '合力',
 '合力',
 '合力',
 '月异',
 '月异',
 '月异',
 '月异',
 '月异',
 '月异',
 '月异',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥',
 '龙凤呈祥']

In [33]:
del_sh_list = [
    '申购日',
    '发行价',
    '个人金额',
    '产品金额',
    '备注',
    '个人',
    '涌赢',
    '涌鑫'
]

In [34]:
drop_sh_list = list(set(del_sh_list))

In [35]:
df_sh_new = df_sh.drop(drop_sh_list, axis=1)
df_sh_new

                    代码                 名称     起航             合力                \
    Unnamed: 1_level_1 Unnamed: 2_level_1     1号  3号  4号     1号     2号     3号
172             605007               五洲特纸  199.0 NaN NaN  199.0  199.0  199.0

                   ...   龙凤呈祥                                                \
        4号     5号  ...    21号    22号    23号 24号    25号    26号    27号    28号
172  199.0  199.0  ...  199.0  199.0  199.0 NaN  199.0  199.0  199.0  199.0


       29号    30号
172  199.0  199.0

[1 rows x 181 columns]

In [36]:
temp_keys = df_sh_new.keys()
temp_keys

MultiIndex([(  '代码', 'Unnamed: 1_level_1'),
            (  '名称', 'Unnamed: 2_level_1'),
            (  '起航',                 '1号'),
            (  '起航',                 '3号'),
            (  '起航',                 '4号'),
            (  '合力',                 '1号'),
            (  '合力',                 '2号'),
            (  '合力',                 '3号'),
            (  '合力',                 '4号'),
            (  '合力',                 '5号'),
            ...
            ('龙凤呈祥',                '21号'),
            ('龙凤呈祥',                '22号'),
            ('龙凤呈祥',                '23号'),
            ('龙凤呈祥',                '24号'),
            ('龙凤呈祥',                '25号'),
            ('龙凤呈祥',                '26号'),
            ('龙凤呈祥',                '27号'),
            ('龙凤呈祥',                '28号'),
            ('龙凤呈祥',                '29号'),
            ('龙凤呈祥',                '30号')],
           length=181)

In [37]:
product_list = list()
value_list = list()
for item in temp_keys:
    value_list.append(df_sh_new[item].tolist())
    if 'Unnamed:' not in item[1]:
        product_list.append(''.join(item).replace('龙凤呈祥', '龙凤'))
    else:
        product_list.append(item[0])
    len(product_list)

In [38]:
ns_sh = dict()
for key, value in zip(product_list, value_list):
    ns_sh[key] = value

ns_sh

{'代码': [605007],
 '名称': ['五洲特纸'],
 '起航1号': [199.0],
 '起航3号': [nan],
 '起航4号': [nan],
 '合力1号': [199.0],
 '合力2号': [199.0],
 '合力3号': [199.0],
 '合力4号': [199.0],
 '合力5号': [199.0],
 '冠通1号': [199.0],
 '冠通2号': [199.0],
 '冠通3号': [199.0],
 '冠通4号': [199.0],
 '冠通9号': [199.0],
 '冠通10号': [199.0],
 '麦余1号': [199.0],
 '麦余2号': [199.0],
 '聚宝1号': [199.0],
 '聚宝2号': [199.0],
 '和谐1号': [199.0],
 '和谐2号': [199.0],
 '翡玉1号': [199.0],
 '翡玉2号': [199.0],
 '翡玉3号': [199.0],
 '翡玉4号': [199.0],
 '翡玉5号': [199.0],
 '翡玉6号': [199.0],
 '翡玉7号': [199.0],
 '翡玉8号': [199.0],
 '翡玉9号': [199.0],
 '翡玉10号': [199.0],
 '绿洲1号': [199.0],
 '绿洲2号': [0.0],
 '绿洲3号': [199.0],
 '绿洲4号': [199.0],
 '绿洲5号': [199.0],
 '匠心2号': [199.0],
 '匠心3号': [199.0],
 '高升2号': [199.0],
 '高升3号': [199.0],
 '高升5号': [199.0],
 '高升6号': [199.0],
 '高升7号': [199.0],
 '高升8号': [199.0],
 '兴盛1号': [199.0],
 '安枕飞天1号': [199.0],
 '安枕飞天3号': [199.0],
 '安枕飞天5号': [199.0],
 '福临9号': [199.0],
 '潜龙1号': [199.0],
 '潜龙5号': [199.0],
 '潜龙6号': [199.0],
 '潜龙7号': [nan],
 '潜龙8号': [199.0],
 '潜龙10号': [199.0],
 '潜龙13号': [0.0],
 '潜龙14号': [199.0],
 '潜龙16号': [nan],
 '潜龙18号': [nan],
 '潜龙22号': [199.0],
 '剑乔': [199.0],
 '聚财1号': [199.0],
 '聚财2号': [199.0],
 '聚财3号': [199.0],
 '聚宝8号': [199.0],
 '和谐6号': [199.0],
 '和谐8号': [199.0],
 '和谐11号': [199.0],
 '汇金1号': [199.0],
 '汇金2号': [199.0],
 '日新1号': [199.0],
 '日新2号': [199.0],
 '日新4号': [199.0],
 '日新6号': [199.0],
 '日新8号': [199.0],
 '日新9号': [199.0],
 '日新11号': [199.0],
 '日新12号': [199.0],
 '日新13号': [199.0],
 '日新15号': [199.0],
 '东风1号': [199.0],
 '东风2号': [199.0],
 '东风3号': [199.0],
 '东风6号': [199.0],
 '东风7号': [199.0],
 '东风8号': [199.0],
 '东风10号': [199.0],
 '麟1号': [199.0],
 '泉1号': [199.0],
 '钱塘1号': [199.0],
 '钱塘2号': [199.0],
 '巡洋1号': [199.0],
 '巡洋2号': [199.0],
 '巡洋3号': [199.0],
 '巡洋4号': [0.0],
 '巡洋5号': [199.0],
 '巡洋6号': [199.0],
 '巡洋7号': [0.0],
 '巡洋8号': [199.0],
 '巡洋9号': [199.0],
 '泰顺1号': [199.0],
 '泰顺2号': [199.0],
 '泰顺3号': [199.0],
 '泰顺5号': [199.0],
 '泰顺7号': [199.0],
 '长阳1号': [199.0],
 '飞龙1号': [nan],
 '飞龙2号': [199.0],
 '飞龙5号': [199.0],
 '飞龙6号': [199.0],
 '飞龙7号': [199.0],
 '飞龙8号': [199.0],
 '飞龙9号': [199.0],
 '飞龙10号': [199.0],
 '飞龙11号': [199.0],
 '飞龙20号': [199.0],
 '东风15号': [199.0],
 '东风17号': [199.0],
 '东风18号': [199.0],
 '东风19号': [199.0],
 '嘉泰1号': [199.0],
 '乾艺': [199.0],
 '澳浦': [199.0],
 '高升1号': [199.0],
 '文龙': [199.0],
 '起航7号': [199.0],
 '起航8号': [199.0],
 '起航11号': [nan],
 '起航14号': [199.0],
 '起航15号': [199.0],
 '征东1号': [199.0],
 '聚宝3号': [199.0],
 '聚宝4号': [199.0],
 '聚宝7号': [199.0],
 '汇金3号': [199.0],
 '汇金8号': [199.0],
 '绿洲7号': [0.0],
 '绿洲8号': [199.0],
 '绿洲9号': [199.0],
 '绿洲10号': [199.0],
 '合力7号': [199.0],
 '合力8号': [199.0],
 '合力10号': [199.0],
 '月异1号': [199.0],
 '月异2号': [199.0],
 '月异3号': [199.0],
 '月异5号': [199.0],
 '月异7号': [199.0],
 '月异8号': [199.0],
 '月异10号': [199.0],
 '龙凤1号': [199],
 '龙凤2号': [199.0],
 '龙凤3号': [199],
 '龙凤4号': [nan],
 '龙凤5号': [nan],
 '龙凤6号': [199],
 '龙凤7号': [199],
 '龙凤8号': [199.0],
 '龙凤9号': [199.0],
 '龙凤10号': [199.0],
 '龙凤11号': [199],
 '龙凤12号': [199],
 '龙凤13号': [199.0],
 '龙凤14号': [199.0],
 '龙凤15号': [199.0],
 '龙凤16号': [199.0],
 '龙凤17号': [199.0],
 '龙凤18号': [199.0],
 '龙凤19号': [199.0],
 '龙凤20号': [199],
 '龙凤21号': [199.0],
 '龙凤22号': [199.0],
 '龙凤23号': [199.0],
 '龙凤24号': [nan],
 '龙凤25号': [199.0],
 '龙凤26号': [199.0],
 '龙凤27号': [199.0],
 '龙凤28号': [199.0],
 '龙凤29号': [199.0],
 '龙凤30号': [199.0]}

In [39]:
for item in pb_list:
    if item in ns_sh.keys():
        ns_sh.pop(item)

ns_sh

{'代码': [605007],
 '名称': ['五洲特纸'],
 '起航3号': [nan],
 '起航4号': [nan],
 '翡玉10号': [199.0],
 '绿洲2号': [0.0],
 '安枕飞天1号': [199.0],
 '安枕飞天3号': [199.0],
 '安枕飞天5号': [199.0],
 '福临9号': [199.0],
 '潜龙1号': [199.0],
 '潜龙7号': [nan],
 '潜龙13号': [0.0],
 '潜龙14号': [199.0],
 '潜龙16号': [nan],
 '潜龙18号': [nan],
 '聚财1号': [199.0],
 '聚财2号': [199.0],
 '聚财3号': [199.0],
 '聚宝8号': [199.0],
 '和谐6号': [199.0],
 '和谐8号': [199.0],
 '和谐11号': [199.0],
 '日新1号': [199.0],
 '日新2号': [199.0],
 '日新4号': [199.0],
 '日新6号': [199.0],
 '日新8号': [199.0],
 '日新9号': [199.0],
 '日新11号': [199.0],
 '日新12号': [199.0],
 '日新13号': [199.0],
 '日新15号': [199.0],
 '东风6号': [199.0],
 '巡洋4号': [0.0],
 '巡洋6号': [199.0],
 '巡洋7号': [0.0],
 '巡洋9号': [199.0],
 '飞龙1号': [nan],
 '飞龙7号': [199.0],
 '飞龙8号': [199.0],
 '飞龙9号': [199.0],
 '飞龙10号': [199.0],
 '飞龙11号': [199.0],
 '飞龙20号': [199.0],
 '东风15号': [199.0],
 '东风17号': [199.0],
 '东风18号': [199.0],
 '东风19号': [199.0],
 '乾艺': [199.0],
 '澳浦': [199.0],
 '高升1号': [199.0],
 '起航7号': [199.0],
 '起航11号': [nan],
 '聚宝3号': [199.0],
 '聚宝4号': [199.0],
 '聚宝7号': [199.0],
 '汇金3号': [199.0],
 '汇金8号': [199.0],
 '绿洲7号': [0.0],
 '合力7号': [199.0],
 '合力8号': [199.0],
 '合力10号': [199.0],
 '月异1号': [199.0],
 '月异2号': [199.0],
 '月异3号': [199.0],
 '龙凤4号': [nan],
 '龙凤5号': [nan],
 '龙凤24号': [nan]}

In [40]:
ns_col = ["序号", "账户", "账号", "券商", "交易员"]
ns_col_sh = ns_col.copy()

for name, idx in zip(ns_sh["名称"], ns_sh["代码"]):
    ns_col_sh.append(name + str(idx).rjust(6, '0'))

ns_col_sh

['序号', '账户', '账号', '券商', '交易员', '五洲特纸605007']

In [41]:
ns_op_sh = pd.DataFrame(columns=ns_col_sh)

In [42]:
for item in info_list:
    if item in ns_sh.keys():
        ns_sh.pop(item)

In [43]:
idx = 0

for key, value in ns_sh.items():
    idx += 1

    if key in zzz.index:
        zh_item = str(zzz.loc[key][ns_col_sh[2]])
        qs_item = zzz.loc[key][ns_col_sh[3]]
    else:
        zh_item = ""
        qs_item = ""

    item = {
        ns_col_sh[0]: idx,
        ns_col_sh[1]: key,
        ns_col_sh[2]: zh_item,
        ns_col_sh[3]: qs_item,
        ns_col_sh[4]: "operator"
    }

    for v_idx in range(len(value)):
        item[ns_col_sh[5 + v_idx]] = value[v_idx]
    
    ns_op_sh = ns_op_sh.append(item, ignore_index=True)
    
ns_op_sh

    序号      账户            账号  券商       交易员  五洲特纸605007
0    1    起航3号                    operator         NaN
1    2    起航4号                    operator         NaN
2    3   翡玉10号  880100001277  安信  operator       199.0
3    4    绿洲2号                    operator         0.0
4    5  安枕飞天1号                    operator       199.0
..  ..     ...           ...  ..       ...         ...
62  63    月异2号     600587018  湘财  operator       199.0
63  64    月异3号     698198026  招商  operator       199.0
64  65    龙凤4号                    operator         NaN
65  66    龙凤5号                    operator         NaN
66  67   龙凤24号    1676082613  申万  operator         NaN

[67 rows x 6 columns]

In [44]:
ns_op_sh.to_excel("新股周报1.xlsx", sheet_name="上海", index=None)